@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin animation($name, $duration, $timing, $count) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $count;
}

@mixin hiddenText {
  .hidden_text {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
  }
}