@mixin tablet2 {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop2 {
  @media all and (min-width: 1024px) {
    @content;
  }
}


@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin animation($name, $duration, $timing, $count) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $count;
}