@mixin afterColor($beforeColor) {
  &::after {
    content: '';
    display: block;
    background: linear-gradient(0deg, $beforeColor 0%, lighten($beforeColor, 30%) 85%, $beforeColor 100%);
  }
}

@mixin otherTypeCardCss($afterColor) {
  .img_cover {
    border: 0.2rem solid $afterColor;
  }

  .form_text {
    cursor: pointer;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1.1rem;
    background-color: lighten($afterColor, 30%);
    &:hover {
      background-color: lighten($afterColor, 10%);
    }
  }
}

.bug_type {
  background-color: #8b9a1d;
  @include afterColor(#aabb22);
  @include otherTypeCardCss(#8b9a1d);
}
.dark_type {
  background-color: #5b4134;
  @include afterColor(#775544);
  @include otherTypeCardCss(#5b4134);
}
.dragon_type {
  background-color: #6153bd;
  @include afterColor(#7766ee);
  @include otherTypeCardCss(#6153bd);
}
.electric_type {
  background-color: #d1a72a;
  @include afterColor(#ffcc33);
  @include otherTypeCardCss(#d1a72a);
}
.fighting_type {
  background-color: #9b4738;
  @include afterColor(#bb5544);
  @include otherTypeCardCss(#9b4738);
}
.fairy_type {
  background-color:#bf7dbf;
  @include afterColor(#ee99ee);
  @include otherTypeCardCss(#bf7dbf);
}
.flying_type {
  background-color: #7685db;
  @include afterColor(#8899ff);
  @include otherTypeCardCss(#7685db);
}
.fire_type {
  background-color: #d2381d;
  @include afterColor(#ff4422);
  @include otherTypeCardCss(#d2381d);
}
.grass_type {
  background-color: #5da042;
  @include afterColor(#77cc55);
  @include otherTypeCardCss(#5da042);
}
.ghost_type {
  background-color: #515193;
  @include afterColor(#6666bb);
  @include otherTypeCardCss(#515193);
}
.ground_type {
  background-color: #b79b47;
  @include afterColor(#ddbb55);
  @include otherTypeCardCss(#b79b47);
}
.ice_type {
  background-color: #56aeda;
  @include afterColor(#66ccff);
  @include otherTypeCardCss(#56aeda);
}
.normal_type {
  background-color: #858577;
  @include afterColor(#aaaa99);
  @include otherTypeCardCss(#858577);
}
.poison_type {
  background-color: #8b457d;
  @include afterColor(#aa5599);
  @include otherTypeCardCss(#8b457d);
}
.psychic_type {
  background-color:  #d2477f;
  @include afterColor(#ff5599);
  @include otherTypeCardCss( #d2477f);
}
.rock_type {
  background-color: #958853;
  @include afterColor(#bbaa66);
  @include otherTypeCardCss(#958853);
}
.steel_type {
  background-color: #777783;
  @include afterColor(#aaaabb);
  @include otherTypeCardCss(#777783);
}
.water_type {
  background-color: #2b7fd3;
  @include afterColor(#3399ff);
  @include otherTypeCardCss(#2b7fd3);
}

.hidden_text {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}