$pokeTop: #cd2e23;
$superTop: #2796c1;
$ultraTop: #313438;
$ballMiddle: #000000;
$ballBottom: #ecebe9;
$fullSize: 100%;
$halfSize: 50%;
$quarterSize: 25%;
$breakPointDesktop: 1024px;
$breakPointTablet:  1023px;
$breakPointMobile: 767px;