$pokeTop: #cd2e23;
$superTop: #223775;
$ultraTop: #313438;
$ballMiddle: #000000;
$ballBottom: #ecebe9;
$cardTitle: #039edc;

$fullSize: 100%;
$halfSize: 50%;
$quarterSize: 25%;

$breakPointDesktop: 1024px;
$breakPointTablet: 1023px;
$breakPointMobile: 767px;

$typeBeforeNormal: #aaaa99;
$typeBeforeFire: #ff4422;
$typeBeforeWater: #3399ff;
$typeBeforeElectric: #ffcc33;
$typeBeforeGrass: #77cc55;
$typeBeforeIce: #66ccff;
$typeBeforeFight: #bb5544;
$typeBeforePoison: #aa5599;
$typeBeforeGround: #ddbb55;
$typeBeforeFlying: #8899ff;
$typeBeforePsychic: #ff5599;
$typeBeforeBug: #aabb22;
$typeBeforeRock: #bbaa66;
$typeBeforeGhost: #6666bb;
$typeBeforeDragon: #7766ee;
$typeBeforeDark: #775544;
$typeBeforeSteel: #aaaabb;
$typeBeforeFairy: #ee99ee;

$typeAfterNormal: #858577;
$typeAfterFire: #d2381d;
$typeAfterWater: #2b7fd3;
$typeAfterElectric: #d1a72a;
$typeAfterGrass: #5da042;
$typeAfterIce: #56aeda;
$typeAfterFight: #9b4738;
$typeAfterPoison: #8b457d;
$typeAfterGround: #b79b47;
$typeAfterFlying: #7685db;
$typeAfterPsychic: #d2477f;
$typeAfterBug: #8b9a1d;
$typeAfterRock: #958853;
$typeAfterGhost: #515193;
$typeAfterDragon: #6153bd;
$typeAfterDark: #5b4134;
$typeAfterSteel: #777783;
$typeAfterFairy: #bf7dbf;
