@import '../mixin';

.db_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.1rem;
  background-color: #2b7fd3;
  z-index: 10;
}

.db_header .inner {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.db_header button {
  cursor: pointer;
  padding: 1.5rem;

  &:hover,
  &:focus {
    background-color: darken(#3399ff, 20%);
  }
}

.spr_logout_icon::before {
  content: '';
  display: block;
  background: url('http://localhost:4000/types/typesprite.png') no-repeat;
  background-size: 10rem 50rem;
}

.logout::before {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  background-position: -1rem -46rem;
}

.db_container {
  width: 100%;
}

.db_container .inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}

@include desktop {
  .db_container {
    display: flex;
    justify-content: center;
  }

  .db_header .inner {
    max-width: 144rem;
    height: 100%;
    margin: 0 auto;
  }

  .db_container .inner {
    max-width: 144rem;
  }

}

@include hiddenText;