.db_header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.1rem;
  background-color: #2b7fd3;
  z-index: 10;
}

.db_header button {
  cursor: pointer;
  padding: 1.5rem;
  &:hover,
  &:focus {
    background-color: darken(#3399ff, 20%);
  }
}

.hidden_text {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}

.db_container {
  width: 100%;
  // height: 100vh;
  // background: radial-gradient(circle at 50% 50%, #ffffff 0%, #87ceeb 100%);
  /*
  @if $isMobile {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  */
}

.db_container .inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}
// @mixin cardFilp($isMobile) {
//   .pokemonDbContainer {
//     display: flex;
//     position: relative;
//     width: 100%;
//     justify-content: center;
//     align-items: center;
//     @if $isMobile {
//       flex-direction: column;
//     } @else {
//       flex-direction: row;
//     }
//   }
// }