@mixin linear_gradation($topColor, $topPercent, $midColor, $midPercent, $botColor, $botPercent) {
  background: linear-gradient(to bottom, $topColor $topPercent, $midColor $topPercent $midPercent, $botColor $midPercent $botPercent);
}

.search_wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  &.base_ball {
    @include linear_gradation(var(--base-ball-top), 48%, var(--base-ball-middle), 52%, var(--base-ball-bottom), 100%);
  }

  &.captain_ball {
    @include linear_gradation(var(--captain-ball-top), 48%, var(--base-ball-middle), 52%, var(--base-ball-bottom), 100%);
  }

  &.ultra_ball {
    @include linear_gradation(var(--ultra-ball-top), 48%, var(--base-ball-middle), 52%, var(--base-ball-bottom), 100%);
  }
}

.bar_group {
  position: fixed;
  width: 15%;
  height: 48%;
  top: 0;
  background: linear-gradient(to top, var(--type-before-electric) 75%, var(--type-before-electric) 100%);

  &.left_bar {
    left: 15%;
  }

  &.right_bar {
    right: 15%;
  }
}