@import '../mixin';

.skeleton_detail {
  display: block;
  width: 100%;
  overflow-y: auto;

  & .skeleton_cover {
    margin: 0;
    padding: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: 0;
  }
}

.skeleton_detail_box {
  list-style: none;
  height: 2.4rem;
  padding: 1rem;
  font-size: 1.6rem;
  border-left: 0.5rem solid var(--base-ball-middle);
  border-right: 0.5rem solid var(--base-ball-middle);
  border-bottom: 0.5rem solid var(--base-ball-middle);
  background-color: var(--base-ball-bottom);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@keyframes skeletonLinear {
  0% {
    background-position: right center;
  }

  100% {
    background-position: left center;
  }
}

.skeleton_text {
  color: transparent;
  width: 40%;
  height: 100%;
  border-radius: 1.5rem;
  background: linear-gradient(to right, transparent, #aaaa99, transparent, #aaaa99);
  background-size: 400%;
  will-change: skeletonLinear;
  @include animation(skeletonLinear, 1s, ease, infinite);
}

@include desktop {
  .skeleton_detail {
    display: flex;
    justify-content: center;
  
    & .skeleton_cover {
      width: 100%;
      max-width: 110rem;
    }
  }
}