@import '../mixin';
@import '../typeColor';

.mainCard {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 22.5em;
  height: 30em;
  margin-right: .5em;
}

@keyframes cardBorder {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.mainCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  box-sizing: border-box;
  border-radius: 1.2em;
  padding: 3em;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40em;
    height: 10em;
    background: linear-gradient(transparent, #e3d984, #edd74e, #e3d984, transparent);
    @include animation(cardBorder, 4s, linear, infinite)
  }
  &::after {
    content: "";
    position: absolute;
    inset: .8em;
    border-radius: 1.2em;
  }
  & img, & span {
    z-index: 1;
  }
}

.mainCardImg {
  object-fit: cover;
  border-radius: 50%;
  width: 12em;
  height: 12em;
}

.mainCardTitle {
  margin-top: .5em;
  font-size: 1.8em;
  font-weight: bolder;
  letter-spacing: .3em;
}

.hidden {
  display: none;
}