@import '../typeColor';

@keyframes cardBorder {
  0% { transform: translate(-$halfSize, -$halfSize) rotate(0deg); }
  100% { transform: translate(-$halfSize, -$halfSize) rotate(360deg); }
}

@mixin mainCardDevice($width, $height, $imgWidth, $imgHeight, $isMobile){
  .mainCard {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: $width;
    min-height: $height;
    @if $isMobile {
      margin-bottom: .3em;
    } @else {
      margin-right: .5em;
    }
  }
  
  .mainCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: $fullSize;
    height: $fullSize;
    inset: 0;
    box-sizing: border-box;
    border-radius: 1.2em;
    padding: 2em 2em 2em 2em;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: $halfSize;
      left: $halfSize;
      width: 40em;
      height: 10em;
      background: linear-gradient(transparent, #e3d984, #edd74e, #e3d984, transparent);
      @include animation(cardBorder, 4s, linear, infinite)
    }
    &::after {
      content: "";
      position: absolute;
      inset: .8em;
      border-radius: 1.2em;
    }
    & .mainCardImgCover, & span, & .formCover {
      z-index: 1;
    }
  }
  
  .mainCardImgCover {
    overflow: hidden;
    border-radius: 3em;
    width: $imgWidth;
    height: $imgHeight;
  }
  
  .mainCardImg {
    width: $imgWidth;
    height: $imgHeight;
  }
  
  .mainCardTitle {
    font-size: 1.4em;
    font-weight: bolder;
    letter-spacing: .3em;
  }
}


.titleMarginTop {
  margin-top: .5em;
}
.titleMarginMiddle {
  margin: .3em 0;
}

.hidden {
  display: none;
}

@include typeCardColor(true);

@include desktop {
  @include mainCardDevice(22.5em, 30em, 14em, 14em, false);
}

@include tablet {
  @include mainCardDevice(22.5em, 30em, 14em, 14em, false);
}

@include mobile {
  @include mainCardDevice(20em, 23em, 10em, 10em, true);
}