@import '../mixin';

@mixin searchBarBase($width, $height, $isdesktop) {
  .searchBar {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: $fullSize;
    margin: auto;
  }
  .searchBarCover{
    width: $fullSize;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .searchBarInput {
    width: $width;
    height: $height;
    padding: 1.5em;
    border: .5em solid $ballMiddle;
    border-radius: $halfSize;
    transform: scale(2);
    background-color: $ballBottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .searchBarBtn {
    position: relative;
    border: 0;
    width: $width;
    height: $height;
    padding: 1.5em;
    background-color: $ballBottom;
    &:hover, &:active {
      background-color: #d5d2d2;
    }
  }
}
.test {
  width: $fullSize;
  max-width: 30em;
}

@mixin searchBarIsFocus($isdesktop) {
  .searchBarFocus {
    width: $fullSize;
    border-radius: 1.5em;
    @if $isdesktop {
      max-width: 30em;
    } @else {
      position: fixed;
      top: 0;
    }
    .searchBarCover{
      width: $fullSize
    }
    .searchBarInput {
      width: $fullSize;
      border-radius: .5em 0 0 .5em ;
      border: .5em solid $ballMiddle;
      border-right: 0;
      transform: scale(1);
      @if $isdesktop {
        max-width: 30em;
      }
    }
    .searchBarBtn {
      border: .5em solid $ballMiddle;
      border-left: 0;
      border-radius: 0 .5em .5em 0;
    }
  }
}

@mixin searchBarBtnObject($beforeTop, $beforeLeft, $afterTop, $afterLeft) {
  .searchBarBtn::before, .searchBarBtn::after {
    content: "";
    display: block;
    position: absolute;
  }
  .searchBarBtn {
    &::before {
      top: $beforeTop;
      left: $beforeLeft;
      border-radius: $halfSize;
      border: .2em solid $ballMiddle;
      width: 1.5em;
      height: 1.5em;
    }
    &::after {
      top: $afterTop;
      left: $afterLeft;
      border-radius: 0 0.25em 0.25em 0;
      transform: rotate(45deg);
      width: .75em;
      height: .25em;
      background-color: $ballMiddle;
    }
  }
}

.searchBarBtnFocuse {
  position: absolute;
  z-index: -1;
  background-color: transparent;
}

.searchBarSpan {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
.searchBar, .searchBarInput:not(:focus), .searchBarBtn{
  cursor: pointer;
}
.searchBarInput:focus, .searchBar:focus ~ .searchBarInput:not(:focus) {
  outline: none;
}
.searchBarInput, .searchBarBtn {
  transition: all .25s ease-out;
}
.hidden {
  display: none;
}

@include desktop {
  @include searchBarBase(5em, 5em, true);
  @include searchBarIsFocus(true);
  @include searchBarBtnObject(1em, 1.2em, 2.7em, 2.6em);
}
@include tablet {
  @include searchBarBase(5em, 5em, false);
  @include searchBarIsFocus(false);
  @include searchBarBtnObject(1em, 1.2em, 2.7em, 2.6em);
}
@include mobile {
  @include searchBarBase(3.5em, 3.5em, false);
  @include searchBarIsFocus(false);
  @include searchBarBtnObject(.4em, .4em, 2em, 1.8em);
}