.search_detail {
  width: 100%;
  overflow-y: auto;
  position: relative;
}
.search_detail .inner {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #31343855;
  }
  /*
      @if $isdesktop {
      position: absolute;
      top: 5.9rem;
      max-width: 40rem;
    }*/
}

.search_detail li {
  padding: 1rem;
  font-size: 1.6rem;
  border-width: 0 0.5rem 0.1rem 0.5rem;
  border-style: solid;
  border-color: var(--base-ball-middle);
  background-color: var(--base-ball-bottom);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  &:last-child {
    border-bottom: 0.5rem solid var(--base-ball-middle);
  }
}

.search_detail .index_bgcolor {
  background-color: #3399ff;
}