@import '../mixin';
@import '../typeColor';

.statusCard {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 22.5em;
  height: 30em;
}

@keyframes cardBorder {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.statusCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  box-sizing: border-box;
  border-radius: 1.2em;
  padding: 2em 3em 2em 3em;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40em;
    height: 10em;
    background: linear-gradient(transparent, #e3d984, #edd74e, #e3d984, transparent);
    @include animation(cardBorder, 4s, linear, infinite)
  }
  &::after {
    content: "";
    position: absolute;
    inset: .8em;
    border-radius: 1.2em;
  }
  & .statusCardImgCover, & span, & canvas {
    z-index: 1;
  }
}
.statusCardImgCover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
}
.statusMarginRight {
  margin-right: 1em;
}

.statusCardTypeImg {
  width: 3em;
  height: 3em;
  border-radius: $fullSize;
  border: .2em solid $ballBottom;
}

.hidden {
  display: none;
}