.progress_cover {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  justify-items: flex-start;
  column-gap: 1rem;
  margin: 0rem 0 2rem 4rem;
}
.progress_title {
  font-size: 1.4rem;
  text-wrap: nowrap;
  font-weight: 600;
}

.progress_status {
  width: 80%;
  margin-right: 1rem;
  height: 2rem;
}

.progress_status[value]::-webkit-progress-bar {
  background-color: var(--base-ball-bottom);
}

.progress_status[value]::-webkit-progress-bar,
.progress_status[value]::-webkit-progress-value{
  border-radius: 10rem;
}
/* 파이어 폭스*/
.progress_status[value],
.progress_status[value]::-moz-progress-bar {
  border-radius: 10rem;
}


.hidden_text {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}
.fifty_under::-moz-progress-bar {
  background-color: #ff7f0f;
}
.fifty_under::-webkit-progress-value {
  background-color: #ff7f0f;
}
.eighty_under::-webkit-progress-value {
  background-color: #ca15e1;  
}
.eighty_under::-moz-progress-bar {
  background-color: #ca15e1;  
}
.hundred_under::-webkit-progress-value {
  background-color: #422ec4;
}
.hundred_under::-moz-progress-bar {
  background-color: #422ec4;
}
.hundred_more::-webkit-progress-value{
  background-color: #23cd5e;
}
.hundred_more::-moz-progress-bar {
  background-color: #23cd5e;
}